<div class="primary-container p-5">
    <form class="flex-row flex-no-wrap justify-center gap-15 mb-5">
        <select id="search-tag">
            <!-- iterate existing tags-->
            {{#each tags as |t|}}
                <option value="{{t.id}}">{{t.name}}</option>
            {{/each}}
            
        </select>
        <input type="text" id="search-key">
        <input type="button" id="search-button" value="Search">
    </form>
    <div class="flex-column flex-no-wrap align-center" id="search-results">
        <!-- iterate search items -->
        {{#each posts as |p|}}
            <div class="col-8 user-post mb-5">
                <div class="flex-row flex-no-wrap gap-15">
                    <div class="col-4"><h3 class="ml-5">{{p.title}}</h3></div>
                    <div class="col-4 my-auto">Tag:{{p.tag.name}}</div>
                    <div class="col-4 my-auto"><span class="text-right">User:<b>{{p.user.name}}</b></span></div>
                </div>
            
            <p>{{p.description}}</p>
        </div>
        {{/each}}
    </div>
</div>